body{
    background-color: white;
    font-family: Arial, sans-serif;
}

li{
    list-style: none;
    text-decoration-color: white;

}


#headerIndex {
    
    background-color: yellow;
    border: 10px solid black;
    margin: 0;
    padding-left: 10px;

}


header>div{
    display: flex;
    justify-content: space-around;
    /* margin: 50px; */
}

#navIndex>li{
    padding: 50px 5px;
   
}

#navIndex a{
    color: white;
}

#navDev>li{
    padding: 50px 5px;
   
}
#navEt>li{
    padding: 50px 5px;
   
}



section{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}



.elements{
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

#elem1Index {
    background-color: blue;
    border: 10px solid black;
    width: 300px;
    height: 650px;
    margin: 0;
    padding: 10px;
    

}

#elem2Index {
    background-color: white;
    border: 10px solid black;
    width: 300px;
    height: 650px;
    margin: 0;
    padding: 10px;

}

#elem3Index{
    background-color: yellow;
    border: 10px solid black;
    width: 650px;
    height: 370px;
    margin: 0;
    padding-top: 300px;
}

#elem4Index{
    background-color: red;
    border: 10px solid black;
    width: 500px;
    height: 200px;
    margin-top: 450px;
    padding: 10px;
}

#headerDev {
    
    background-color: yellow;
    border: 10px solid black;
    margin: 0;
    padding-left: 10px;

}

#elem1Dev {
    background-color: white;
    border: 10px solid black;
    width: 300px;
    height: 680px;
    margin: 0;
    padding: 10px;

}
#elem2Dev {
    background-color: blue;
    border: 10px solid black;
    width: 150px;
    height: 680px;
    margin: 0;
    padding: 10px;

}

#elem3Dev{
    background-color: yellow;
    border: 10px solid black;
    width: 800px;
    height: 400px;
    margin: 0;
    padding-top: 300px;
}

#elem3Dev{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#presentation{
    display: flex;
    justify-content: space-around;
}


#elem4Dev{
    background-color: red;
    border: 10px solid black;
    width: 510px;
    height: 200px;
    margin-top: 0px;
    padding: 10px;
}



#footerDev {
    background-color:yellow ;
    border: 10px solid black;
}

#headeretudes {
    
    background-color: blue;
    border: 10px solid black;
    margin: 0;
    padding-left: 10px;

}


#elem1etudes {
    background-color: white;
    border: 10px solid black;
    width: 300px;
    height: 580px;
    margin: 0;
    padding: 10px;

}
#elem2etudes {
    background-color: yellow;
    border: 10px solid black;
    width: 300px;
    height: 580px;
    margin: 0;
    padding: 10px;

}

#elem3etudes{
    background-color: blue;
    border: 10px solid black;
    width: 650px;
    height: 300px;
    margin: 0;
    padding-top: 300px;
}


#elem4etudes{
    background-color: red;
    border: 10px solid black;
    width: 500px;
    height: 200px;
    margin-top: 0px;
    padding: 10px;
}



#footeretudes {
    background-color:red ;
    border: 10px solid black;
}

#headercontact {
    
    background-color: yellow;
    border: 10px solid black;
    margin: 0;
    padding-left: 10px;

}


#elem1Contact {
    background-color: white;
    border: 10px solid black;
    width: 300px;
    height: 580px;
    margin: 0;
    padding: 10px;

}
#elem2Contact {
    background-color: red;
    border: 10px solid black;
    width: 300px;
    height: 580px;
    margin: 0;
    padding: 10px;

}

#elem3Contact{
    background-color: blue;
    border: 10px solid black;
    width: 650px;
    height: 300px;
    margin: 0;
    padding-top: 300px;
}


#elem4Contact{
    background-color: yellow;
    border: 10px solid black;
    width: 500px;
    height: 200px;
    margin-top: 0px;
    padding: 10px;
}



#footerContact {
    background-color:red ;
    border: 10px solid black;
}

footer {
    background-color:yellow ;
    border: 10px solid black;
}

footer li {
    
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    /* padding: 50px, 5px; */

}
.footer-nav ul{
    display: inline-flex;
    flex-direction: row;
    
    justify-content: space-around;
}



    /* img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        display: block;
        margin: auto;
    } */









article{
    display: flex;
}


.hidden{
    display: none;
}